*{
  margin: 0; padding: 0;
  font-family: 'Otomanopee One', sans-serif;

  
  
}
body{ 
  background-color:black;
  
}
section{
  background-color:blueviolet;
  border:  3px solid  yellow;
  border-radius: 2em;
}
.topnav {
    
  overflow:hidden; 
  
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    /* transition: border-radius 0.9s ease; */
    /* transition: border 0.9s ease; */
    transition: color  1s ease;
    font-size: 30px;
    /* transition: background-color 0.9s ease; */
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:white;
    color: black;
    border:  2px solid  rgb(3, 3, 3);
     border-radius: 2em;
    
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    border-radius: 50px;
    color: white;
  }
 footer{
   
 }
 #ee{
   text-decoration: none;
   text-transform: uppercase;
  
    color: rgb(255, 0, 0);
    
    
 }
 #ee:hover{
  
  color: blueviolet;
  

 }
 .q {
   color: rgb(6, 162, 253);
   border: 3px solid blueviolet;
   font-family: ;
   border-radius: 50px;background-color: rgb(255, 251, 0);
   padding: 20px;
   
   margin: 6px;


 }
 
 
