BODY{
    background-image: linear-gradient(to right, rgb(240, 152, 152),rgb(235, 174, 62),rgb(253, 253, 128),rgb(86, 218, 86),rgb(102, 102, 235),rgb(150, 80, 200),violet);
  
  
     }div{
        background-color:blueviolet;
        border:  3px solid  yellow;
        border-radius: 2em;
      }
      .topnav {
          
        overflow:hidden; 
        
        }
        
        /* Style the links inside the navigation bar */
        .topnav a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          text-transform: uppercase;
          /* transition: border-radius 0.9s ease; */
          /* transition: border 0.9s ease; */
          transition: color  1s ease;
          /* transition: background-color 0.9s ease; */
        }
        
        /* Change the color of links on hover */
        .topnav a:hover {
          background-color:white;
          color: black;
          border:  2px solid  rgb(3, 3, 3);
           border-radius: 2em;
          
        }
        
        /* Add a color to the active/current link */
        .topnav a.active {
          background-color: #04AA6D;
          color: white;
        }
       